<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplmobileharbor"
        tools:targetApi="31">
        <activity
            android:name=".AvaliacaoActivity"
            android:exported="false"
            android:label="@string/title_activity_avaliacao"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".EditarServico"
            android:exported="false"
            android:label="@string/title_activity_editar_servico"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".DetalhesServico"
            android:exported="false"
            android:label="@string/title_activity_detalhes_servico"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".BaixaPositivaActivity"
            android:exported="false"
            android:label="@string/title_activity_baixa_positiva"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".BaixaNegativaActivity"
            android:exported="false"
            android:label="@string/title_activity_baixa_negativa2"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".ServicosActivity"
            android:exported="false"
            android:label="@string/title_activity_servicos"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".AgendaActivity"
            android:exported="false"
            android:label="@string/title_activity_agenda"
            android:theme="@style/Theme.Aplmobileharbor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Aplmobileharbor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Aplmobileharbor">
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>